[{:db/id #db/id [:db.part/user -1]
  :entity1/entity2 #db/id [:db.part/user -4]
  :entity1/self [#db/id [:db.part/user -2] #db/id [:db.part/user -3]]
  :entity1/multi [#db/id [:db.part/user -2] #db/id [:db.part/user -4]]}

 {:db/id #db/id [:db.part/user -2]
  :entity1/entity2 #db/id [:db.part/user -4]}

 {:db/id #db/id [:db.part/user -3]
  :entity1/entity2 #db/id [:db.part/user -4]}

 {:db/id #db/id [:db.part/user -4]
  :entity2/entity1 [#db/id [:db.part/user -1] #db/id [:db.part/user -2]]}]
